<?php get_header(); ?>

		<section>

			<?php if(have_posts()) : while(have_posts()) : the_post(); ?><!-- start loop -->
				<article>

<%= @fields.gsub(/^/) { |match| "\t\t\t\t\t" } %>

				</article>
			<?php endwhile; endif; ?><!-- end loop -->

			<div class="pagination">
				<?php $args = array(
					'base'         => get_bloginfo('url') . '/<%= @title[:underscore] %>/%_%',
					'format'       => 'page/%#%/', //url format is "/<%= @title[:underscore] %>/page/#"
					'total'        => $wp_query->max_num_pages,
					'current'      => max( 1, $wp_query->query_vars['paged'] ),
					'show_all'     => true,
					'prev_next'    => True,
					'prev_text'    => __('&larr;'),
					'next_text'    => __('&rarr;'),
					'type'         => 'plain',
					'add_args'     => False,
					'add_fragment' => ''
				);
				echo paginate_links( $args ); ?>
			</div>

		</section>

		<?php //get_sidebar(); ?><!-- optional -->

<?php get_footer(); ?>